.main-template {
    height: calc(100% - 67px);

    .body {
        height: 100%;
    }

    ::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }
    
    ::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        -webkit-border-radius: 7px;
        background-color: rgba(255, 255, 255, .3);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    
        &:hover {
            background-color: rgba(255, 255, 255, .6);
        }
    }
    
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #667480;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: #667480;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: #667480;
    }
}

@media (max-width: 540px) {

}

