#search-page {
    height: 100%;
    overflow: hidden;
    min-height: 655px;
    position: relative;
    padding: 50px 170px 0 50px;

    .tabs {
        top: 50px;
        right: 50px;
        display: flex;
        position: absolute;
        flex-direction: column;

        button {
            opacity: .6;
            width: 120px;
            border: none;
            height: 200px;
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            appearance: none;

            &:hover:not(.active) {
                opacity: .7;
            }

            &.active {
                opacity: 1;
                font-weight: bold;

                &.track {
                    background-image: url(../../assets/icons/music-note.svg);
                }
    
                &.artist {
                    background-image: url(../../assets/icons/mic.svg);
                }
    
                &.album {
                    background-image: url(../../assets/icons/disc.svg);
                }
            }

            &.track {
                background: url(../../assets/icons/music-note.svg) no-repeat center;
                background-size: 80%;
                background-color: #ffc300;
            }

            &.artist {
                background: url(../../assets/icons/mic.svg) no-repeat center;
                color: #fff;
                background-size: 70%;
                background-color: #3366d4;
            }

            &.album {
                background: url(../../assets/icons/disc.svg) no-repeat center;
                color: #fff;
                background-size: 70%;
                background-color: #c43410;
            }
        }
    }

    .tab-content {
        height: 100%;
    }
}

@media (max-width: 540px) {
    #search-page {
        min-height: auto;
        padding: 80px 5% 0;

        .tabs {
            top: auto;
            right: auto;
            position: relative;
            flex-direction: row;

            button {
                flex: 1;
                margin: 0;
                width: auto;
                height: 60px;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &.track {
                    background-size: 20px;
                    background-position: top 10px center;

                    span {
                        color: #333;
                    }
                }
    
                &.artist {
                    background-size: 20px;
                    background-position: top 10px center;
                }
    
                &.album {
                    background-size: 20px;
                    background-position: top 10px center;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }
}