#header {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;

    .logo {
        background: url(../../assets/logo.png) no-repeat;
        height: 48px;
        width: 176px;
        color: #333;
        display: flex;
        align-items: center;
        text-decoration: none;
        background-size: 48px;
        background-position: left center;

        span {
            font-size: 22px;
            font-weight: 900;
            margin-left: 53px;
        }
    }
}

@media (max-width: 540px) {
    #header {
        z-index: 1;
        justify-content: center;

        .logo.inverted {
            color: #fff;
            background-image: url(../../assets/logo-inverted.png);
        }
    }
}